// Add any custom Sass & CSS here
.userBack{
	background-color: blue;
	margin: auto;
	width: 70vw;
	padding: 0 5px 0 5px;
}
.node{
	list-style: none;
	position: relative;
	background-color: green;
	margin: auto;
	padding: 10px 0 10px 0; 
}
.top-nav{
	width: 70vw;
	margin: auto;
}
.node-data{
	h2{
		font-size: 36px;
	}
}
.bottom-bar{
	height:10vh;
}