<div class="list" ng-controller='UsersController'>
    <div class="row top-nav">
      <h1 class="small-9 columns title">Users</h1>
      <a class="small-3 columns"href="#/adduser">
        <button class="button large success">Add User</button>
      </a>
    </div>
    
    <ul class="userBack">
      {{result}}
      <li ng-repeat="user in data" class="node">
        <div class="row node-data">
        <div class="small-1 columns"></div>
        <a href = "#/users/{{user._id}}">
        <h2 class="small-4 columns">{{user.name}}</h2></a>
        <h4 class="small-3 columns">{{user.email}}</h4>
        <button ng-click="removeUser(user._id)" class="small-2 columns button large alert">Remove </button>
      </div>
      <hr class="separator">
      </li>
    </ul>
</div>
